// colors
$prime: #0071E4;
$lightPrime: #2A93FD;
$meteor: #5035F7;
$verminal: #52D116;
$lightVerminal: #6FD91C;
$disabled: #E7E7E7;
$black: #100E0E;
$white: #fff;
$grey: #878787;
$lightGrey: #F9F9F9;
